html{

    scroll-behavior: smooth;

    overflow-x: hidden;

}

body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;

}

a{

    color: rgb(194, 194, 194);

    text-decoration: none;

}



.backgroundImage{

    position: absolute;

    left: 0px;

    top: 0px;

    height: 100vh;

    width: 100vw;

    display: none;

}

.myGreetings{

    position: absolute;

    top: 35vw;

    left: 11vw;

    width: 78vw;

    font-size: 14vw;

    font-weight: 500;

    font-stretch: narrower;

    text-shadow: 1.5vw 1.5vw 4vw rgb(71, 71, 71);

    /*

    animation: myGreetingsAnimation 2s;

    */

}

@keyframes myGreetingsAnimation{

    0%{opacity: 0; transform: translateY(-35vh);}

    100%{opacity: 1; transform: translateY(0vh);}

}



.myProjects{

    position: absolute;

    top: 83.5vw;

    left: 11vw;

    padding: 3vw;

    font-size: 6vw;

    font-weight: 500;

    /*

    border-style: solid;

    border-width: 0.4vw;

    border-color: rgb(141, 141, 141);

    border-radius: 1vw;

    */

    background-color: rgba(0, 0, 0, 0.200);

    /*

    animation: myProjectAnimation 2s;

    */

}

@keyframes myProjectAnimation{

    0%{opacity: 0; transform: translateX(100vw);}

    25%{opacity: 0; transform: translateX(100vw);}

    100%{opacity: 1; transform: translateX(0vw);}

}

.myResume{

    position: absolute;

    top: 100vw;

    left: 11vw;

    padding: 3vw;

    font-size: 6vw;

    font-weight: 500;

    /*

    border-style: solid;

    border-width: 0.4vw;

    border-color: rgb(141, 141, 141);

    border-radius: 1vw;

    */

    background-color: rgba(0, 0, 0, 0.200);

    /*

    animation: myResumeAnimation 2300ms;

    */

}

@keyframes myResumeAnimation{

    0%{opacity: 0; transform: translateX(100vw);}

    40%{opacity: 0; transform: translateX(100vw);}

    100%{opacity: 1; transform: translateX(0vw);}

}



.ProjectSectiondiv{

    position: absolute;

    top: 100vh;

    left: 0px;

    width: 100vw;

    height: 100vh;

}

.Project_1{

    margin-left: 5vw;

    margin-top: 5vw;

    padding: 3vw;

    height: 40vw;

    width: 90vw;

    box-sizing: border-box;

    border-style: solid;

    border-width: 0.5vw;

    border-radius: 2vw;

}



.Project_1:hover{

    background-color: rgb(114, 114, 114);

}



.Project_name{

    font-size: 6vw;

    font-weight: bold;

}

.Project_details{

    font-size: 4vw;

}



.myCardDiv{

    height: 60vh;

    width: 90vw;

    padding-top: 45vh;

    padding-left: 5vw;

}

.myEmail{

    width: 90vw;

    padding: 2vw;

    box-sizing: border-box;

    font-size: 6.5vw;

    text-align: center;

    border-style: solid;

    border-color: white;

    border-width: 0.5vw;

    border-radius: 1vw;

}

.email_class{

    color: white;

}



@media only screen and (orientation: landscape){

    html{

        scroll-behavior: smooth;

        overflow-x: hidden;

    }

    .backgroundImage{

        position: absolute;

        left: 0px;

        top: 0px;

        height: 100vh;

        width: 100vw;

        display: none;

    }

    .myGreetings{

        position: absolute;

        top: 20vh;

        left: 11vh;

        width: 78vw;

        font-size: 14vh;

        font-weight: 500;

        font-stretch: narrower;

        text-shadow: 1.5vh 1.5vh 4vh rgb(71, 71, 71);

        /*

        animation: myGreetingsAnimation 2s;

        */

    }

    @keyframes myGreetingsAnimation{

        0%{opacity: 0; transform: translateY(-35vh);}

        100%{opacity: 1; transform: translateY(0vh);}

    }

    

    .myProjects{

        position: absolute;

        top: 60vh;

        left: 11vh;

        padding: 2vh;

        font-size: 4vh;

        font-weight: 500;

        

        border-style: solid;

        border-width: 0.24vh;

        border-color: rgb(141, 141, 141);

        border-radius: 1vh;

        background-color: rgba(0, 0, 0, 0.322);

        /*

        animation: myProjectAnimation 2s;

        */

    }

    @keyframes myProjectAnimation{

        0%{opacity: 0; transform: translateX(100vw);}

        25%{opacity: 0; transform: translateX(100vw);}

        100%{opacity: 1; transform: translateX(0vw);}

    }

    .myResume{

        position: absolute;

        top: 72vh;

        left: 40vw;

        margin: auto;

        padding: 2vh;

        font-size: 4vh;

        font-weight: 500;

        
/*
        border-style: solid;

        border-width: 0.24vh;

        border-color: rgb(141, 141, 141);

        border-radius: 1vh;

        
*/
        background-color: rgba(0, 0, 0, 0.322);

        /*

        animation: myResumeAnimation 2300ms;

        */

    }
    .myResume:hover{
        background-color: rgba(0, 0, 0, 0.664);
    }

    @keyframes myResumeAnimation{

        0%{opacity: 0; transform: translateX(100vw);}

        40%{opacity: 0; transform: translateX(100vw);}

        100%{opacity: 1; transform: translateX(0vw);}

    }

    

    .ProjectSectiondiv{

        position: absolute;

        top: 100vh;

        left: 0px;

        width: 100vw;

        height: 100vh;

    }

    .Project_1{

        margin-left: 10vh;

        margin-top: 10vh;

        padding: 2vh;

        height: 18vw;

        width: 25vw;

        box-sizing: border-box;

        border-style: solid;

        border-width: 0.3vh;

        border-radius: 1vh;

        float: left;

    }

    .Project_name{

        font-size: 3.5vh;

        font-weight: bold;

    }

    .Project_details{

        font-size: 3vh;

    }

    

    .myCardDiv{/*

        position: relative;

        height: 60vh;

        width: 90vw;

        padding-top: 45vh;

        padding-left: 10vh;*/

        margin-top: 45vh;

        height: 18vw;

        float: left;

    }

    .myEmail{

        width: 87vw;

        margin-bottom: 45vh;

        padding: 2vh;

        box-sizing: border-box;

        font-size: 6vh;

        text-align: center;

        border-style: solid;

        border-color: white;

        border-width: 0.4vh;

        border-radius: 1vh;

    }

}