        /*---------------------BODY------------------------------------------------*/
        #xbody {
            background-color: rgb(207, 207, 206);
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            overscroll-behavior: none;
        }


        /* ---------------BANNER ----------------------------------------------*/


        #banner {
            background-color: rgb(238, 238, 234);
            height: 12vw;
            width: 100vw;
            position: fixed;
            z-index: 100;
            font-size: 6vw;
            color: rgb(56, 46, 46);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 0.7vw;
            padding-top: 2.4vw;
            box-sizing: border-box;
            text-align: center;
            font-weight: bold;
            box-shadow: 0vw 1vw 0.7vw 0.5vw rgba(0, 0, 0, 0.185) ;
        }



        /*------------------------------------ADS--------------------------------------*/
        .ads {

            font-size: 6vw;
            background-color: rgb(238, 238, 234);
            width: 96vw;
            height: 25vw;
            padding: 0vw;
            margin: 2vw;
            margin-top: 2.5vw;
            margin-bottom: 0vw;
            float: left;
            box-sizing: border-box;
            display: none;
            border-radius: 1.7vw;
            box-shadow: 0vw 1vw 0.7vw 0.5vw rgba(0, 0, 0, 0.185) ;
        }

        .ads img {
            margin-left: 0vw;
            float: left;
            border-radius: 1.7vw 0vw 0vw 1.7vw;
        }

        .ads ul {
            margin-top: 3vw;
            margin-left: 20.5vw;
            font-weight: bolder;
            font-size: 5vw;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            list-style: none;
        }

        .ads li {
            margin-top: 1vw;
            font-size: 4vw;
            font-weight: normal;
        }

        .ads:hover {
            background-color: #ffffff;
        }

        .ad_category{
            padding-right: 1vw;
            padding-left: 1vw;
            border-radius: 1vw; 
            height: 4.7vw; 
            font-size: 3.2vw; 
            margin-right: 1vw; 
            color: rgb(255, 255, 255); 
            float: right; 
            background-color: red;
        }



        /*------------------------------------SCROLL MENU---------------------------------------*/
       
        div.scrollmenu {
            background-color: rgb(207, 207, 206);
            overflow: auto;
            white-space: nowrap;
            height: 58vw;
            
        }

        div.scrollmenu img {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 0vw;
            text-decoration: none;
            width: 74vw;
            height: 43vw;
            margin-top: 14.3vw;
            margin-left: 3vw;
            margin-bottom: 0vw;
            margin-right: 0vw;
            border-radius: 3vw;
            box-shadow: 1vw 0.6vw 0.7vw 0.5vw rgba(0, 0, 0, 0.185) ;
            
        }

        div.scrollmenu img:hover {
            background-color: #777;
        }


        /*---------------------------------BOTTOM FOOTER-----------------------------------------*/
       

        .bottom_footer {
            margin-left: 0vw;
            bottom: 0vw;
            height: 14vw;
            width: 100vw;
            z-index: 101;
            background-color: rgb(235, 235, 235);
            position: fixed;
            box-shadow: 0vw -1vw 0.7vw 0.5vw rgba(0, 0, 0, 0.185) ;
        }

        .bottom_footer div {
            height: 14vw;
            width: 20vw;
            padding: 0vw;
            float: left;
        }


        .bottom_footer img {
            height: 7.5vw;
            width: 7.5vw;
            margin-top: 2vw;
            margin-left: 6vw;
            margin-right: 0vw;
            margin-bottom: 0vw;
        }

        .bottom_footer span{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 3.2vw;
        }

        #tort{
            height: 11vw; 
            bottom: 14vw; 
            display: none; 
            font-size: 6vw; 
            font-weight: 550; 
            text-align: center; 
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
            
       
        #tort span{
            display: none; 
            background-color: rgb(243, 243, 243); 
            margin: 1vw;
            font-size: 6vw;
        }

        #app_update_screen{
            display: none; 
            position: fixed; 
            width: 100vw; 
            height: 100vh; 
            top: 0px;
            margin: 0px; 
            padding: 0px; 
            z-index: 1000; 
            background-color: rgb(241, 241, 241);
        }

        #app_update_screen span{
            position: absolute; 
            width: 70vw;
             margin-top:28vh; 
             margin-left: 15vw; 
             font-size:7vw; 
             color:rgb(18, 39, 21); 
            text-align:center; 
        }

        #app_update_screen button
        {
            background-color: rgb(0, 134, 0); 
            color: white; 
            font-size: 7vw; 
            width: 35vw; 
            height: 6vh; 
            box-shadow: 2vw 2vw 1.5vw #466e40; 
            margin-top:40vh; 
            margin-left: 32vw; 
            border-radius: 2vw;
        }


